body > header {
  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.25));
  background-color: $header-background;
  margin-bottom: 2em;

  .site-title {
    color: #0b6b94;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 2.5em;
  }
}