<section class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta"<li><a href='https://openenergymonitor.org' target="_blank">OpenEnergyMonitor <i class="icon-external-link"></i></h1>
  <ul class="divided">
    <li>
      A project to develop <a href='https://openenergymonitor.org/emon/opensustech'>open-source tools</a> to help us relate to our use of energy, our energy systems and the challenge of <a href='https://openenergymonitor.org/emon/sustainable-energy'>sustainable energy</a>.
    </li>
    
  </ul>
  <p>
  <h1 class="title delta"<li><a href='https://emoncms.org' target="_blank">Emoncms <i class="icon-external-link"></i></a></li></h1>
  <ul class="divided">
    <li>
      Emoncms is a powerful <a href='https://github.com/emoncms'>open-source</a> web-app for processing, logging and visualising energy, temperature and other environmental data.
    </li>
  </ul>
</section>
