<section class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">About OpenEnergyMonitor</h1>
  <ul class="divided">
    <li>
      A project to develop open-source energy monitoring tools to help us relate to our use of energy, our energy systems and the challenge of sustainable energy.
    </li>
    <li><a href='https://openenergymonitor.org'>OpenEnergyMonitor.org</a></li>
    <li><a href='https://openenergymonitor.org/emon/opensustech'>Open-Source Tools</a></li>
    <li><a href='https://openenergymonitor.org/emon/sustainable-energy'>Sustainable Energy</a> </li>
  </ul>
  <p>
  <h1 class="title delta">About Emoncms</h1>
  <ul class="divided">
    <li>
      Emoncms is a powerful open-source web-app for processing, logging and visualising energy, temperature and other environmental data.
    </li>
    <li><a href='https://emoncms.org'>Emoncms.org</a></li>
    <li><a href='https://github.com/emoncms'>Emoncms Github</a> </li>
  </ul>
</section>
