<section class="aside-module grid__item one-whole lap-one-half">
  <h1 class="title delta">About OpenEnergyMonitor</h1>
  <ul class="divided">
    <li>
      A project to develop open-source energy monitoring tools to help us relate to our use of energy, our energy systems and the challenge of sustainable energy.
    </li>
    <li><a href='/getting-started/'>Get started</a></li>
    <li><a href='http://emoncms.org'>Emoncms visualisation</a></li>
    <li><a class="twitter-follow-button" href="https://twitter.com/openenergymonitor">Follow OpenEnergyMonitor on Twitter</a></li>
  </ul>
</section>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
