<section class="aside-module grid__item one-whole lap-one-half">
  {% include edit_github.html %}


  <div class='section'>
    <h1 class="title delta">Site Map</h1>
    <ul class='divided sidebar-menu'>
      <li>
          <b>Setup</b>
        <ul>
          <li>{% active_link /setup/ Hardware %}</li>
          <li>{% active_link /setup/connect/ Connect %}</li>
          <li>{% active_link /setup/install/ Install %}</li>
          <li>{% active_link /setup/local/ Log Locally %}</li>
          <li>{% active_link /setup/remote/ Log Remotely %}</li>
          <li>{% active_link /setup/dashboards/ Dashboards %}</li>
          <li>{% active_link /setup/emontx/ Add Energy Nodes %}</li>
          <li>{% active_link /setup/emonth/ Add Temperature Nodes %}</li>
          <li>{% active_link /setup/import/ Import / Backup %}</li>
          <li>{% active_link /setup/north-america/ Use in North America %}</li>
          <li>{% active_link /setup/troubleshooting/ Troubleshooting %}</li>
        </ul>
        <li>
          <b>Emoncms</b>
          <ul>
          <li>{% active_link /setup/daily-kwh Daily kWh %}</li>
          <li>{% active_link /setup/daily-averages Daily Averages %}</li>
          <li>{% active_link /setup/export-csv Exporting CSV %}</li>
          <li>{% active_link /setup/histograms Histograms %}</li>
          <li>{% active_link /technical/api/ Emoncms API %}</li>
        </ul>


      </li>

      <li>
         <b>Applications</b>
        <ul>
         <li>{% active_link /applications/home-energy/ Home Energy %}</li>
         <li>{% active_link /applications/solar-pv/ Solar PV %}</li>
         <li>{% active_link http://heatpumpmonitor.org/ Heatpump <i class="icon-external-link"></i> %}</li>
        </ul>
      </li>

      <li>
         <b>Integrations</b>
        <ul>
         <li>{% active_link /integrations/nodered/ Node-RED %}</li>
         <li>{% active_link /integrations/openhab/ OpenHAB %}</li>
         <li>{% active_link /integrations/mqtt-relay/ Control Relay %}</li>
         <li>{% active_link /integrations/lightwaverf/ LightWave RF Control %}</li>
        </ul>

      <li>
        <b>Technical</b>
       <ul>
        <li>{% active_link /technical/ Overview %}</li>
        <li>{% active_link /technical/specifications/ Specifications %}</li>
        <li>{% active_link /technical/credentials/ Service Credentials %}</li>
        <li>{% active_link /technical/mqtt/ MQTT %}</li>
        <li>{% active_link /technical/compiling/ Firmware Modification %}</li>
        <li>{% active_link /technical/resources/ Resources %}</li>
       </ul>
      </li>

      <li>
     <b>Support</b>
        <ul>
         <li>{% active_link https://community.openenergymonitor.org/latest Community Forum <i class="icon-external-link"></i> %}
         <li>{% active_link /help/ Contact %}</li>
        </ul>
      </li>


    </div>
<gcse:search></gcse:search>
</section>
