<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h2 class="navigationTitle">Contents</h2>
    <ul class='divided sidebar-menu'>
      <li style="padding-top: 10px;">
        <b>Hardware Setup</b>
        <ul>
          <li>{% active_link /setup/ System Overview %}</li>
          <li>{% active_link /setup/install/ Install emonPi %}</li>
          <li>{% active_link /setup/install-emontx/ Install emonTx & emonBase %}</li>
          <li>{% active_link /setup/esp8266-adapter-emontx/ Install emonTx Wifi %}</li>
          <li>{% active_link /setup/emontx/ + Add Additional emonTx %}</li>
          <li>{% active_link /setup/emonth/ + Add Temperature Nodes %}</li>
          <li>{% active_link /setup/pulse-counting/ + Add Pulse Counting %}</li>
          <li>{% active_link /setup/temperature-sensors/ + Add Temperature Sensors %}</li>
          <li>{% active_link /setup/north-america/ Use in North America %}</li>
        </ul>
      </li><li>
        <b>Software Setup</b>
        <ul>
          <li>{% active_link /setup/connect/ 1. Connect %}</li>
          <li>{% active_link /setup/local/ 2. Log Locally %}</li>
          <li>{% active_link /setup/remote/ 3. Log Remotely %}</li>
          <li>{% active_link /setup/import/ 4. Import / Backup %}</li>
          <li>{% active_link /setup/remote-access/ 5. Remote Access %}</li>
          <li>{% active_link /setup/update/ 6. Update & Upgrade %}</li>                
          <li>{% active_link /technical/credentials/ 7. Service Credentials %}</li>
          <li>{% active_link /technical/mqtt/ 8. MQTT %}</li>
          <li>{% active_link /setup/troubleshooting/ 9. Troubleshooting %}</li>
        </ul>
      </li><li>
        <b>EV Charging (EVSE)</b>
        <ul>
          <li>{% active_link /integrations/ev-charging/ EV Charging Overview %}</li>
          <li>{% active_link /integrations/openevse OpenEVSE Kit Assembly%}</li>
          <li>{% active_link /integrations/evse-setup EVSE User Guide%}</li>
        </ul>
        <b>Control</b>
        <ul>
          <li>{% active_link /integrations/mqtt-relay/ Control Relay %}</li>
          <li>{% active_link /integrations/demandshaper/ Emoncms DemandShaper %}</li>   
          <li>{% active_link /integrations/demandshaper-openevse/ + Smart EV Charging %}</li>          
          <li>{% active_link /integrations/demandshaper-sonoff/ + Sonoff WiFi Smart Plug %}</li>                 
        </ul>
      </li><li>
        <b>Emoncms</b>
        <ul>
          <li>{% active_link /emoncms/coreconcepts/ Core Concepts %}</li>
          <li>{% active_link /emoncms/postingdata/ Posting Data %}</li>
          <li>{% active_link /emoncms/graphs/ View Graphs %}</li>
          <li>{% active_link /emoncms/dashboards/ Dashboard builder %}</li>
          <li>{% active_link /emoncms/apps/ Application dashboards %}</li>
          <li>{% active_link /emoncms/daily-kwh/ Calculating Daily kWh %}</li>
          <li>{% active_link /emoncms/daily-averages/ Calculating Averages %}</li>
          <li>{% active_link /emoncms/pulse-counting/ Pulse Counting %}</li>
          <li>{% active_link /emoncms/export-csv/ Exporting CSV %}</li>
          <li>{% active_link /emoncms/histograms/ Histograms %}</li>
          <li>{% active_link /emoncms/postprocess/ Post Process %}</li>
        </ul>
      </li><li>
        <b>Applications</b>
        <ul>
         <li>{% active_link /applications/home-energy/ Home Energy %}</li>
         <li>{% active_link /applications/solar-pv/ Solar PV %}</li>
         <li>{% active_link /applications/heatpump Heat pump %}</li>
         <li>{% active_link /applications/octopusagile/ Octopus Agile %}</li>
        </ul>
      </li><li>
        <b>Integrations</b>
        <ul>
         <li>{% active_link /integrations/nodered/ Node-RED %}</li>
         <li>{% active_link /integrations/openhab/ OpenHAB %}</li>
         <li>{% active_link /integrations/lightwaverf/ LightWave RF Control %}</li>
         <li>{% active_link /integrations/emonhub-interfacers/ EmonHub Interfacers %}</li>  
        </ul>
      </li><li>
        <b>Technical</b>
        <ul>
          <li>{% active_link /technical/emonpi/ emonPi %}</li>
          <li>{% active_link /technical/emontx/ emonTx %}</li>
          <li>{% active_link /technical/compiling/ Firmware Modification %}</li>
          <li>{% active_link /technical/resources/ Resources %}</li>
        </ul>
      </li><li>
        <b>Support</b>
        <ul>
         <li>{% active_link https://community.openenergymonitor.org/latest Community Forum <i class="icon-external-link"></i> %}
         <li>{% active_link /help/ Contact %}</li>
        </ul>
      </li>
    </ul>
    </div>
<gcse:search></gcse:search>
</section>
