<div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="{{ root_url }}/" class="site-title">
    <!--<img width='40' src='{{ root_url }}/images/favicon-192x192.png'> -->
    <!--<span>{{ site.title }}</span>-->
    <span style="color:#777;font-weight:bold;font-family:Arial;font-size:20">
Open</span><span style="color:#44b3e2;font-weight:bold;font-family:Arial;font-size:20">EnergyMonitor</span>
  </a>
</div>


<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    {% include site/navigation.html %}
  </nav>
</div>
