<ul class="menu pull-right">
  <li><a href="http://shop.openenergymonitor.com">Online Store</a></li>

  <li>
    <a>Setup <i class="icon icon-caret-down"></i></a>
    <ul>
      <li><a href='/setup/'>Required Hardware</a></li>
      <li><a href='/setup/connect/'>Connect</a></li>
      <li><a href='/setup/install/'>Install</a></li>
      <li><a href='/setup/local/'>Log Locally</a></li>
      <li><a href='/setup/remote/'>Log Remotely</a></li>
      <li><a href='/setup/dashboards/'>Dashboards</a></li>
      <li><a href='/setup/emontx'>Add Energy Nodes</a></li>
      <li><a href='/setup/emonth'>Add Temperature Nodes</a></li>
      <li><a href='/setup/import'>Import / Backup</a></li>
    </ul>
  </li>

  <li>
    <a>Applications <i class="icon icon-caret-down"></i></a>
    <ul>
      <li><a href='/applications/home-energy'>Home Energy</a></li>
      <li><a href='/applications/solar-pv'>Solar PV</a></li>
      <li><a href='/advanced/'>Advanced</a></li>
    </ul>
  </li>

  <li>
    <a>Technical <i class="icon icon-caret-down"></i></a>
    <ul>
      <li><a href="/technical/">Overview</a></li>
      <li><a href="/technical/specifications">Specifications</a></li>
      <li><a href="/technical/api/">API</a></li>
      <li><a href="/technical/mqtt">MQTT</a></li>
      <li><a href="/technical/software/">Software</a></li>
      <li><a href="/technical/hardware/">Hardware</a></li>
    </ul>
  </li>
  <li><a href="http://openenergymonitor.blogspot.com">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href="/about/">About</a></li>
</ul>
