 <h1>emonPi</h1>
 <p class="lead">
An open-hardware Raspberry Pi and Arduino based web-connected energy and environmental monitoring unit.
</p>

<p>Things to mention on home page (in no particular order): hackability, privicy, home automation hub, community support & development, fully open-source </p>
<p class='hero-buttons'>
  <a href='{{ root_url }}/getting-started/'>Get started</a>
</p>
<div style="width:150px; float:left"><a href="https://play.google.com/store/apps/details?id=org.emoncms.myapps&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" /></a></div>

