<style>

.glinksholder {
   
   position: absolute;
   top: 60px;
   height: 60px;
   width: 100%;
   background-color: #0699fa;
   z-index: 30000000;
   box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.guidetitle {
  
   position: absolute;
   line-height: 60px;
   font-size: 22px;
   color: #ffffff;
   font-weight: bold;
   left: 50%;
   margin-left: -555px;
}

.titleholder {
  
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 22;
    overflow: hidden;
}

.monitormytitle {
  
    position: absolute;
    margin-left: 6px;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    color: #0699fa;
    z-index: 22;
    width: 100%;
}

.monitormytitle span {
  
    color: #777;
}

@media screen and (min-width: 1150px) {
    
    .monitormytitle {
  
    position: absolute;
    left: 50%;
    margin-left: -557px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    color: #0699fa;
    z-index: 22;
    }
}

.navigation {
    
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 6px;
    height: 60px;
    z-index: 60;
}

.navigation ul {
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navigation li {

    float: left;
    background-color: #0699fa;
}

.navigation a {
    
    display: block;
    line-height: 68px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    z-index: 62;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

.navigation a:hover {
    
    margin-top: 10px;
}

@media screen and (max-width: 820px) {
    
    .navigation {
        
    display: none;}
}

@media screen and (min-width: 1200px) {

    .navigation {
    
    position: absolute;
    right: 50%;
    margin-right: -557px;
    }
}

.dropbtn {
    
    float: right;
    margin-right: 19px;
    margin-top: -3px;
    width: 30px;
    height: 30px;
    
    text-align: center;
    font-size: 30px;
    color: #777;
    z-index: 30;
    cursor: pointer;
}

@media screen and (min-width: 820px) {
    
    .dropbtn {
        
    display: none;}
}

.dropdown {
    
    position: relative;
    z-index: 22;
}

.dropdown-content {
   
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    overflow-x: hidden;
    z-index: 6000;
}

.dropdown-content a {
    
    position: relative;
    text-align: left;
    font-family: "Arial","sans-serif";
    color: #0699fa;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.dropdown-content ul {
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #F8F8F8;
    top: 0;
}

.dropdown-content ul li {
    
    list-style-type: none;
}

.dropdown-content a:hover {
	
	background-color: #0699fa;
	color: #ffffff;
}

.show {
	display: block;
}

</style>

<div class="dontloseyourhead">
  
    <div class="titleholder">
    
        <div class="monitormytitle">
            
            <a href="/#setup"><span>Open</span>EnergyMonitor</a>

            <div onclick="myFunction()" class="dropbtn">
            
                <span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
        
            </div>
            
        </div>
        
            <div class="navigation">
                <ul>
                    <li><a href="https://openenergymonitor.org">Main Site</a></li>
                    <li><a href="https://community.openenergymonitor.org">Forum</a></li>
                    <li><a href="https://guide.openenergymonitor.org/technical/resources/">Resources</a></li>
                    <li><a href="https://blog.openenergymonitor.org">Blog</a></li>
                    <li><a href="https://shop.openenergymonitor.com">Store
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            
    </div>
    
    <div id="myDropdown" class="dropdown-content">
        <ul>
            <li><a href="https://openenergymonitor.org">Main Site</a></li>
            <li><a href="https://community. openenergymonitor.org">Forum</a></li>
            <li><a href="https://guide.openenergymonitor.org/technical/resources/">Resources</a></li>
            <li><a href="https://blog.openenergymonitor.org">Blog</a></li>
            <li><a href="https://shop.openenergymonitor.com">Store
            <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </ul>
    </div>
 
    <div class="glinksholder">
  
        <div class="guidetitle">
        
            User Guide
        
        </div>
  
    </div>
    
</div>

<script>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn span i')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>