---
layout: page
date: 2014-12-18 22:39
comments: false
show_title: false
sidebar: true
hero_unit: true
is_homepage: true
description: OpenEnergyMonitor User Guide
hide_github_edit: true
---

<!--

<style>

.sitenavdropdownbtn {
    outline: none;
    position: relative;
    border-top-right-radius: 50%;
    background-color: #FFA500;
    color: black;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 21;
}

.sitenavdropdown {
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: 0;
    z-index: 21;
}

.sitenavdropdown-content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
}

.sitenavdropdown-content a {
    text-align:center;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sitenavdropdown-content a:hover {
    background-color: #0699fa;
    font-weight: bold;
}

.sitenavdropdown:hover .sitenavdropdown-content {
    display: block;
}

  .sitenavdropdown span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }

  .sitenavdropdown span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  }

  .sitenavdropdown:hover span {
  padding-right: 25px;
  }

  .sitenavdropdown:hover span:after {
  opacity: 1;
  right: 0;
  }
  
</style>

<div class="sitenavdropdown">
  <button class="sitenavdropdownbtn"><span><i class="icon-globe"></i></span>
</button>
  <div class="sitenavdropdown-content">
    <a href="https://openenergymonitor.org/">Main Site</a>
    <a href="https://shop.openenergymonitor.org/">Online Store</a>
    <a href="https://community.openenergymonitor.org/">Forums</a>
    <a href="https://openenergymonitor.org/emon/buildingblocks">Resources</a>
    <a href="https://blog.openenergymonitor.org/">Blog</a><br><br><br>
  </div>
</div>

-->

<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
            <div class='supported-brands clearfix'>
                <img src="{{ root_url }}/images/frontpageimages/homeenergycoverimage.png" style="border-radius:10%;"/>
             </div>
        </div>
        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
            <div class='supported-brands clearfix'>
                <img src="{{ root_url }}/images/frontpageimages/solarpvcoverimage.png" style="border-radius:10%;"/>
            </div>
        </div>
        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cogs"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>



<div class="grid-wrapper">

  <div class="grid">
    <div class="grid__item one-half lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole">
          <figure>
           <a href="https://www.youtube.com/embed/E1M2uLSiQy0"><img src="{{ root_url }}/images/frontpageimages/emonpi-overview.png"/></a>
           <figcaption>System Overview</figcaption>
           </figure>
        </div>
      </div>
    </div>

    <div class="grid__item one-half lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole">
          <figure>
          <a href="https://www.youtube.com/embed/xFPpBbf555c"><img src="{{ root_url }}/images/frontpageimages/sustainable-energy.png"/></a>
          <figcaption>Sustainable Energy Challenge</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

