---
layout: page
date: 2014-12-18 22:39
comments: false
show_title: false
sidebar: true
hero_unit: true
is_homepage: true
description: OpenEnergyMonitor User Guide
hide_github_edit: true
---



<style>

.dropbtn {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background-color: #FFA500;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-top-right-radius: 10%;
  text-align: center;
  padding-top: 8px;
  font-size: 40px;
  color: #000000;
  font-weight: bold;

}

.dropdown {
    position: relative;
    z-index: 22;
}

.dropdown-content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000000;
    width: 9em;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
}

.dropdown a:hover {
	background-color: #0699fa;
	color: #000000;

}

.show {
	display: block;
}

</style>
  
<div class="dropdown">
   
<div onclick="myFunction()" class="dropbtn">+</i>
</div>
  <div id="myDropdown" class="dropdown-content">
    <a href="https://openenergymonitor.org/"><i class="icon-globe" style="color:#FFA500"></i>&nbsp;&nbsp;Main Site</a>
    <a href="https://shop.openenergymonitor.org/"><i class="icon-shopping-cart"  style="color:#FFA500"></i>&nbsp;&nbsp;Store</a>
    <a href="https://community.openenergymonitor.org/"><i class="icon-comment" style="color:#FFA500"></i>&nbsp;&nbsp;Forum</a>
    <a href="https://openenergymonitor.org/emon/buildingblocks"><i class="icon-book"  style="color:#FFA500"></i>&nbsp;&nbsp;Resources</a>
    <a href="https://blog.openenergymonitor.org/"><i class="icon-bullhorn"  style="color:#FFA500"></i>&nbsp;&nbsp;Blog</a>
    <a onclick="myFunction()" style="cursor:pointer;text-align:center;background-color:#000000;">&#10006;</a>
  </div>
</div>

<script>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
	document.getElementById("myDropdown").classList.toggle("show");

}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>

<!--End of Site Nav-->

<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
            <div class='supported-brands clearfix'>
                <img src="{{ root_url }}/images/frontpageimages/homeenergycoverimage.png" style="border-radius:10%;"/>
             </div>
        </div>
        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_left.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
            <div class='supported-brands clearfix'>
                <img src="{{ root_url }}/images/frontpageimages/solarpvcoverimage.png" style="border-radius:10%;"/>
            </div>
        </div>
        <div class="grid__item one-whole lap-two-thirds">
          {% include custom/grid_item_middle.html %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-cogs"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
         {% include custom/grid_item_right.html %}
        </div>
      </div>
    </div>



<div class="grid-wrapper">

  <div class="grid">
    <div class="grid__item one-half lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole">
          <figure>
           <a href="https://www.youtube.com/embed/E1M2uLSiQy0"><img src="{{ root_url }}/images/frontpageimages/emonpi-overview.png"/></a>
           <figcaption>System Overview</figcaption>
           </figure>
        </div>
      </div>
    </div>

    <div class="grid__item one-half lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole">
          <figure>
          <a href="https://www.youtube.com/embed/xFPpBbf555c"><img src="{{ root_url }}/images/frontpageimages/sustainable-energy.png"/></a>
          <figcaption>Sustainable Energy Challenge</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

